<style type="text/css">
        /* Basics */
        body {
            margin: 0 !important;
            padding: 0;
            background-color: #fff;
        }
        table {
            border-spacing: 0;
            font-family: helvetica, sans-serif;
            font-size: 16px;
            line-height: 24px;
            color: #4a4a4a;
        }
        td {
            padding: 0;
        }
        img {
            border: 0;
        }
        div[style*="margin: 16px 0"] { 
            margin:0 !important;
        }
        .wrapper {
            width: 100%;
            table-layout: fixed;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }
        .webkit {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff
        }

        .outer {
        Margin: 0 auto;
            width: 100%;
            max-width: 600px;
        }

        .sh-top-left{
            background-image: url(img/shadow-top-left.png);
            background-size: 100%;
            background-repeat: no-repeat;
            padding: 0 !important;
            width: 15px;
            height: 10px
        }

        .sh-top-center{
            background-image: url(img/shadow-top-center.png);
            background-repeat: repeat-x;
            padding: 0 !important;
            height: 10px;
        }

        .sh-top-right{
            background-image: url(img/shadow-top-right.png);
            background-size: 100%;
            background-repeat: no-repeat;
            padding: 0 !important;
            width: 15px;
            height: 10px
        }

        .sh-left{
            background-image: url(img/shadow-left.png);
            background-size: 100%;
            background-repeat: repeat-y;
            padding: 0 !important;
            width: 15px
        }

        .sh-right{
            background-image: url(img/shadow-right.png);
            background-size: 100%;
            background-repeat: repeat-y;
            background-position: right;
            padding: 0 !important;
            width: 15px
        }

        .sh-bottom-left{
            background-image: url(img/shadow-bottom-left.png);
            background-size: 100%;
            background-repeat: no-repeat;
            padding: 0 !important;
            width: 15px;
            height: 20px
        }

        .sh-bottom-center{
            background-image: url(img/shadow-bottom-center.png);
            background-repeat: repeat-x;
            padding: 0 !important;
            height: 20px;
        }

        .sh-bottom-right{
            background-image: url(img/shadow-bottom-right.png);
            background-size: 100%;
            background-repeat: no-repeat;
            padding: 0 !important;
            width: 15px;
            height: 20px
        }

        .bg-fill{
            background-color: #F5F5F5
        }

        .main{
            margin-bottom: 30px
        }

        .full-width-image img {
            width: 100%;
            max-width: 600px;
            height: auto;
        }

        .html-version{
            font-size: 13px;
            padding: 30px !important
        }
        .html-version p{
            margin-bottom: 0 !important;
            color: #999999
        }

        .inner {
        padding: 10px;
        }
        p {
            Margin: 0;
        }
        span{
            Margin: 0;
        }
        a {
            color: #04CE7C;
            text-decoration: none;
            font-size: 13px;
            Margin: 0;
            /* These are technically the same, but use both */
          overflow-wrap: break-word;
          word-wrap: break-word;

          -ms-word-break: break-all;
          /* This is the dangerous one in WebKit, as it breaks things wherever */
          word-break: break-all;
          /* Instead use this non-standard one: */
          word-break: break-word;

          /* Adds a hyphen where the word breaks, if supported (No Blink) */
          -ms-hyphens: auto;
          -moz-hyphens: auto;
          -webkit-hyphens: auto;
          hyphens: auto;

        }
        .h1 {
            font-size: 30px;
            font-weight: bold;
            Margin-bottom: 18px;
            color: #4a4a4a
        }
        .h2 {
            font-size: 18px;
            font-weight: bold;
            Margin-bottom: 12px;
        }
        .button{
            padding: 18px 25px;
            background-color: #04ce7c;
            color: #fff;
            border-radius: 50px;
            font-size: 15px;
            font-weight: bold;
        }
         
        /* One column layout */
        .one-column .contents {
            text-align: center;
        }
        .one-column p {
            Margin-bottom: 10px;
            width: 85%;
            margin: auto
        }

        /* Left sidebar layout */
        .left-sidebar {
            text-align: center;
            font-size: 0;
        }
        .left-sidebar .column {
            width: 100%;
            display: inline-block;
            vertical-align: top;
        }
        .left-sidebar .left {
            max-width: 100px;
        }
        .left-sidebar .right {
            max-width: 500px;
        }
        .left-sidebar .img {
            width: 100%;
            max-width: 80px;
            height: auto;
        }

        .left-sidebar .contents {
            font-size: 12px;
            text-align: left;
            color: #999999
        }
        .left-sidebar a {
            color: #04CE7C;
        }
    </style>